//breakpoints
$minwidth: 320px;
$mw: 1200px;
$md1: $mw + 12;
$md2: 1199px;
$md3: 991px;
$md4: 768px;
$md5: 576px;

//basic font
$fontfamily: "Lato";

//colors
$mainText: #000;
$bannerText: #fff;
$hoverMainText: #f54d56;
$secondText: #7f7e7e;
$backgroundColor: #fefefe;
$secondBackgroundColor: #ededed;
$separator: #d1d1d1;